/* Home.module.css */
.card {
    background-color: #0d0808;
    border: 3px solid #03b42a;
    box-shadow: 0 2px 4px rgba(252, 2, 2, 0.1);
    padding: 16px;
    margin: 16px;
  }
  
  .cardTitle {
    color: #19d21c;
  }
  
  .list {
    list-style-type:lower-roman;
    padding-left: 24px;
  }
  